
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>springboot-thymeleaf demo</title>
</head>

<body>
<p th:text="'hello, map:' + ${name} + '!'" />
<p th:text="'hello, model:' + ${name1} + '!'" />
map name:<input th:name="name" th:value="${name}"/>
map name:<input th:name="name" th:value="${name1}"/>
</body>
</html>